.column {
  font-size: 40px;
  float: left;
  width: 33.33%;
  text-align: center;
}

.semicolumn {
  font-size: 40px;
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

body {
  font-family: Roboto;
  background: #8E0E00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E0E00, #1F1C18);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  max-width: 90%;
  max-height: 90%;
  display:block;
  margin:auto;
}

#container {
  height: 1050px;
  width: 800px;
  margin: 200px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

h1 {
  background: #1F030C;
  color: white;
  margin: 0;
  padding: 20px 200px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: normal;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

p {
  padding-left: 40px;
}
  
input[type="text"] {
  width: 90px;
  font-size: 28px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 60%;
  padding: 10px 10px 16px 16px;
}

input[type="text"]:focus {
  background: #fff;
  border: 6px solid #2980b9;
  outline: none;
}

  .dollarSign {
    display: inline;
  }
  
button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 40px auto;
  background: #AD133A;
  border-radius: 10px;
  width: 400px;
  height: 80px;
  font-size: 34px;
  color: white;
}

button:hover {
  background: #4c2827;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 2px;
}

#result {
  font-family: sans-serif;
  font-size: 40px;
  margin-top: 40px;
  text-align: center;
}

#result sup {
  font-size: 30px;
  top: -36px;
}