.column {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3.2vh;
  float: left;
  width: 33.33%;
  text-align: center;
}

.semicolumn {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3.2vh;
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

body {
  font-family: Roboto;
  background: #8E0E00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E0E00, #1F1C18);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  max-width: 90%;
  max-height: 90%;
  display:block;
  margin:auto;
}

#container {
  height: 84vh;
  width: 44vh;
  padding: 0 1vh 0 1vh;
  margin: 2vh auto;
  background: #f7f7f7;
  box-shadow: 0 0 0.24vh rgba(0, 0, 0, 0.1);
  border-radius: 3.2vh;
  -webkit-border-radius: 3.2vh;
  -moz-border-radius: 3.2vh;
}

h1 {
  font-family: sans-serif;
  background: #1F030C;
  color: white;
  margin: 0 -1vh 0 -1vh;
  padding: 1.6vh 3vh;
  font-size: 2.88vh;
  text-align: center;
  font-weight: normal;
  border-top-left-radius: 3.2vh;
  border-top-right-radius: 3.2vh;
}

#emptyline {
  margin-top: 5vh;
}
  
input[type="text"] {
  text-align: center; 
  width: 7.2vh;
  font-size: 1.8vh;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 60%;
  padding: 0.8vh 0.8vh 0.8vh 0.8vh;
}

input[type="text"]:focus {
  background: #fff;
  border: 0.3vh solid #2980b9;
  outline: none;
}

  .dollarSign {
    display: inline;
  }
  
button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 3vh auto;
  background: #AD133A;
  border-radius: 0.8vh;
  width: 32vh;
  height: 6vh;
  font-size: 2.72vh;
  color: white;
}

button:hover {
  background: #4c2827;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 0.16vh;
}

#result {
  font-family: sans-serif;
  font-size: 2.2vh;
  margin-top: 2.2vh;
  text-align: center;
}

#result sup {
  font-size: 1.8vh;
  top: -1.8vh;
}